In [1]:
import sys
from pathlib import Path
import pandas as pd

# Add project root to Python path
project_root = Path.cwd().parent
if str(project_root) not in sys.path:
    sys.path.append(str(project_root))

# Import project paths
from src.helpers.config import DATA_DIR
from src.helpers.utils import (
    get_files_paths,
    analyze_dataframe,
    load_files,
)

# Load dataframe

In [2]:
dataset_name = "demografia_powiaty"

In [3]:
file_paths = get_files_paths(Path(DATA_DIR / "raw"), dataset_name, "csv")
file_paths

['c:\\Users\\huber\\OneDrive\\Dokumenty\\GitHub\\mz_raport\\data\\raw\\demografia_powiaty.csv']

In [4]:
df_raw = load_files(file_paths)

# Analyze dataframe

In [5]:
df_raw.shape

(24320, 8)

In [6]:
analyze_dataframe(df_raw)

,column_name,missing_values_total,missing_values_percent,unique_values_count,data_type
0,Rok,0,0.0,8,int64
1,Województwo,0,0.0,16,object
2,Powiat,0,0.0,370,object
3,Grupa wiekowa,0,0.0,4,object
4,Płeć,0,0.0,2,object
5,Populacja,0,0.0,14284,int64
6,Liczba porad AOS,0,0.0,18291,int64
7,Liczba pacjentów,0,0.0,9455,int64

In [7]:
df_raw.head(2)

,Rok,Województwo,Powiat,Grupa wiekowa,Płeć,Populacja,Liczba porad AOS,Liczba pacjentów
0,2016,dolnośląskie,bolesławiecki,18-39,Kobiety,13972,21411,5989
1,2016,dolnośląskie,bolesławiecki,18-39,Mężczyźni,14642,9172,3304